 </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/users/:id">Account</a></li>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/reviews">Community</a></li>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/splash">Home</a></li>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; RevNotes 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    
       <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>














 <!--  <footer>
    <p>Here's the footer...</p>
  </footer> -->


 <!--   <ul>
      <li><a href="/splash">Home</a></li>
      <li><a href="/reviews">Community</a></li>
      <li><a href="/users/:id">Account</a></li>
    </ul> -->

<!--   <script src="js/main.js"></script>
 -->





<!-- 


  </main>

  <footer>
    <p>Here's the footer...</p>
  </footer>

<!-   <script src="js/main.js"></script>
 --><!-- </body>

</html> -->
